{% extends "layout.html" %}
{% block title %}Change password{% endblock %}
{% block content %}


<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-3">
            <form action="/change_password" method="post">
                <div class="mb-3">
                    <input class="form-control mx-auto w-auto" name="currentpassword" placeholder="Current password" type="password">
                </div>
              <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="newpassword" placeholder="New Password" type="password">
              </div>
              <div class="mb-3">
                <input class="form-control mx-auto w-auto" name="confirmation" placeholder="New password (again)" type="password">
            </div>
                <button class="btn btn-primary d-block mx-auto" type="submit">Change Password</button>
              </div>
            </form>
          </div>

    </div>
</div>


{% endblock %}
